<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlIgsdpNKZCH3xTA6_ZEcfLkEeHSXbB2M</string>
	<key>GCM_SENDER_ID</key>
	<string>593037562166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prmda</string>
	<key>PROJECT_ID</key>
	<string>prmda-27af3</string>
	<key>STORAGE_BUCKET</key>
	<string>prmda-27af3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593037562166:ios:c35cd499543d4383306397</string>
	<key>DATABASE_URL</key>
	<string>https://prmda-27af3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>